/* -----global----- */
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* ----MAIN PAIGE CSS---- */

/* HEADER */

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo {
    color: #2E2F42;
}

.navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* ----HERO---- */

.hero-section {
    background-color: #2E2F42;
}

.hero-header {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.hero-button:hover,
.hero-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* ----FEATURES---- */

.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-description {
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* ----OUR TEAM---- */

.team-section {
    background-color: #F4F4FD;
}

.our-team-header{
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.employee-card {
    background-color: #FFFFFF;
}

.employee-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em; 
   color: #2E2F42;
}

.position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----PORTFOLIO---- */

.portfolio-header {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-card-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ----FOOTER---- */

.footer-section {
    background-color: #2E2F42;
}

.logo-link-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-fooret {
    color: #F4F4FD;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

